# Python virtual environnments
.virtualenv

# Apps (you should use fabric and fabfile to install them)
/deck
/deck/*
/dradis
/dradis/*

# Python/Django related
*.pyc
*.pot
*.log

# Environnment cache
envs/main/static/
envs/dradis/static/

# Local settings (you should copy .dist to .py)
local_settings.py

# Other stuff (editors, etc.)
.idea
fabfile.py
generate_virtualenv.sh
